langchain
wikipedia
langchain-community
langchain-openai # or langchain-anthropic # to use their API
python-dotenv
pydantic # for python library data validation
duckduckgo-search # or ddgs # to use duckduckgo search as tool 
judgeval # for tracing and evaluation of agents
