langchain
wikipedia
langchain-community
langchain-openai
langchain-anthropic
python-dotenv
pydantic # for python library data validation
duckduckgo-search # or ddgs # to use duckduckgo search as tool 
judgeval # for tracing and evaluation of agents
